<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Kitchen - PaLeva </title>

  <script src="https://unpkg.com/vue@3.2.0/dist/vue.global.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <script src="https://cdn.tailwindcss.com"></script>

  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="app" class="container mx-auto p-4">
    <div class="mb-4">
      <label for="restaurantCode" class="block text-gray-700 font-medium mb-2">Código do Restaurante:</label>
      <div class="flex space-x-2">
        <input 
          id="restaurantCode"
          type="text" 
          v-model="restaurantCodeInput"
          placeholder="Digite o código do restaurante"
          class="border border-gray-300 rounded p-2 flex-1"
        />
        <button 
          @click="updateRestaurantCode"
          class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
          Atualizar
        </button>
      </div>
    </div>
    
    <h1 class="text-3xl font-bold text-center mb-4">Pedidos</h1>

    <input type="text" placeholder="Pesquisar..." v-model="searchQuery"
      class="border border-gray-300 rounded p-2 mb-4 w-full" />

    <div v-if="isLoading" class="text-center">Carregando...</div>

    <div class="flex space-x-4">
      <div class="w-1/2 bg-white p-4 shadow rounded-lg">
        <h2 class="text-xl font-semibold mb-4">Lista de Pedidos</h2>
        <ul class="space-y-4">
          <li v-for="order in filteredOrders" :key="order.order.order_code" @click="showOrder(order.order.order_code)"
            class="bg-gray-100 p-4 rounded-lg cursor-pointer hover:bg-gray-200">
            <strong class="text-lg">{{ order.order.order_code }}</strong><br>
            {{ order.order.customer_name }}<br>
            {{ translateStatus(order.order.status) }}<br>
          </li>
        </ul>
      </div>

      <div v-if="selectedOrder" class="w-1/2 bg-gray-100 p-4 shadow-lg rounded">
        <h2 class="text-2xl font-semibold mb-4">Detalhes do Pedido</h2>
        <p><strong>Código:</strong> {{ selectedOrder.order.order_code }}</p>
        <p><strong>Nome do Cliente:</strong> {{ selectedOrder.order.customer_name }}</p>
        <p><strong>Iniciado em:</strong> {{ formatDate(selectedOrder.order.created_at) }}</p>
        <p><strong>Telefone de Contato:</strong> {{ selectedOrder.order.contact_phone }}</p>
        <p><strong>Email de Contato:</strong> {{ selectedOrder.order.contact_email }}</p>
        <p><strong>Status:</strong> {{ translateStatus(selectedOrder.order.status) }}</p>
        <ul class="mt-2 space-y-2">
          <li v-for="item in selectedOrder.order_items" :key="item.menu_item + item.note" class="border-t pt-2">
            <p><strong>Item:</strong> {{ item.menu_item }}</p>
            <p><strong>Nota:</strong> {{ item.note }}</p>
          </li>
        </ul>
        <div v-if="selectedOrder.order.status == 'awaiting_confirmation'">
          <button @click="start_preparation(selectedOrder.order.order_code)"
            class="mt-4 bg-green-500 text-white py-2 px-4 rounded hover:bg-green-600">
            Começar a Preparar
          </button>
        </div>
        <div v-if="selectedOrder.order.status == 'in_preparation'">
          <button @click="set_order_ready(selectedOrder.order.order_code)"
            class="mt-4 bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600">
            Finalizar Pedido
          </button>
        </div>
        <div class="grid gap-4 grid-cols-2">
          <div v-if="selectedOrder.order.status !== 'canceled'">
            <textarea 
              v-model="cancelNote"
              placeholder="Escreva uma nota sobre o cancelamento (obrigatório)" 
              class="w-full border border-gray-300 rounded p-2 mb-2"
            ></textarea>
            <button 
              @click="cancel_order(selectedOrder.order.order_code)"
              class="mt-2 bg-red-500 text-white py-2 px-4 rounded hover:bg-red-600"
            >
              Cancelar Pedido
            </button>
            <button @click="selectedOrder = null" class="mt-4  text-red py-2 px-4 rounded hover:text-red-600">
            Voltar
          </button>
        </div>
        
      </div>
    </div>
  </div>

  <script src="main.js"></script>
</body>

</html>